h1 {
  color: red;
  font-size: 30;
  text-align: center;
}

ul {
  list-style-type: square;
}

body {
  width: 600px;
  margin: 0 auto;
  background-color: #e8f5e9;
  padding: 0 20px 20px 20px;
  border: 1px solid black;
}
#dizain {
  color: green;
}
#zruchnist {
  color: orange;
}
#cont {
  color: blue;
}
